/*  your css code here. If applicable */
.container{
	background-color:#f5f5f5;
	padding: 10px;
}
.box{
	background-color:white;
	border:1px solid grey;
	margin:10px;
}
p{
	margin-left:10px;
}
.text{
	text-align:right;
}